<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JEFJEF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C989E95A1CD9F217006175BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C989E96E1CD9F218006175BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C989E9791CD9F218006175BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
